@model Entity.ARefund
@{
    ViewData["Title"] = "Tuihui";
    Layout = "~/Views/Shared/_Form.cshtml";
    IList<Entity.Sys_Item> xf = ViewBag.xf as IList<Entity.Sys_Item>;
}

@using (Html.BeginForm("SaveRuPay", "Enter", FormMethod.Post, new { id = "form1", @class = "layui-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="ID" name="ID" value="@(Model!=null?Model.ID:"")" />
    <input type="hidden" id="StudentId" name="StudentId" value="@ViewBag.id" />
    <div style="width:100%; overflow-y:auto; overflow-x:hidden" class="body">
        <blockquote class="layui-elem-quote">@ViewBag.name  <span>应缴金额：@ViewBag.collecMoney </span> <span>优惠金额：</span>@ViewBag.youhui <span>实缴金额：@ViewBag.payMoeny</span></blockquote>

        <table class="layui-table tabletu" id="tabletu">
            <colgroup>
                <col width="150">
                <col width="150">
                <col width="150">

            </colgroup>
            <thead>
                <tr>
                    <td>退款类别</td>
                    <td>退款金额</td>
                    <td>操作</td>
                </tr>
            </thead>

            <tbody>
                @if (Model != null)
                {
                    if (Model.ARefundes != null)
                    {
                        for (int i = 0; i < Model.ARefundes.Count(); i++)
                        {

                            <tr>
                                <td>
                                    <div class="layui-input-block" style="width:100%; margin-left:0px;">
                                        <select name="Category" lay-filter="trone" class="formValue" lay-verify="required" lay-search>
                                            <option value=""></option>
                                            @if (xf != null)
    {
        foreach (var item in xf)
        {
            if (Model.ARefundes.ToList()[i].Category == item.F_Encode)
            {
                                        <option value="@item.F_Encode" selected>@item.F_FullName</option>
}
else if (Model.ARefundes.ToList()[i].Category == "key9")
{
                                        <option value="key9" selected>退学</option>
}
else
{
                                        <option value="@item.F_Encode">@item.F_FullName</option>
}


}

}
                                            <option value="key9" >退学</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" name="Amount" class="layui-input formValue required" value="@(Model!=null?Model.ARefundes!=null?Model.ARefundes.ToList()[i].Amount:0:0)" lay-verify="required" style="width:90%;" />
                                </td>
                                <td><a href="javascript:;"><i class="fa  fa-plus-square-o fa-2x add"></i></a> <a href="javascript:;"><i class="fa  fa-minus-square-o fa-2x delete"></i></a></td>
                            </tr>
                        }

                    }

                }
                else
                {
                    <tr>
                        <td>
                            <div class="layui-input-block" style="width:100%; margin-left:0px;">
                                <select name="Category" lay-filter="trone" class="formValue" lay-verify="required" lay-search>
                                    <option value=""></option>
                                    @if (xf != null)
                                    {
                                        foreach (var item in xf)
                                        {
                                            <option value="@item.F_Encode">@item.F_FullName</option>
                                        }
                                    }
                                    <option value="key9">退学</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="Amount" class="layui-input formValue required" value="" lay-verify="required" style="width:90%;" />
                        </td>
                        <td><a href="javascript:;"><i class="fa  fa-plus-square-o fa-2x add"></i></a> <a href="javascript:;"><i class="fa  fa-minus-square-o fa-2x delete"></i></a></td>
                    </tr>
                }

            </tbody>
        </table>
        <table class="layui-table">
            <tr>
                <td align="right" width="15%">备注：</td>
                <td align="left" width="80%" class="formValue">
                    <textarea name="Note" id="Note" placeholder="请输入内容" class="layui-textarea" style="width:90%;"></textarea>

                </td>
            </tr>
        </table>

        <table class="layui-table tabone">
            <caption align="top">缴费记录</caption>
            <thead>
                <tr>
                    <td rowspan="2" style="width:120px;">日期</td>
                    <td rowspan="2" style="width:100px;">付款方式</td>
                    <td rowspan="2" style="width:100px;">收款方式</td>
                    <td colspan="3" style="width:90px;">学费</td>
                    <td colspan="3" style="width:90px;">住宿费</td>
                    <td colspan="3" style="width:90px;">文化课</td>
                    <td rowspan="2">备注</td>
                </tr>
                <tr>
                    <td>应收</td>
                    <td>优惠</td>
                    <td>实收</td>
                    <td>应收</td>
                    <td>优惠</td>
                    <td>实收</td>
                    <td>应收</td>
                    <td>优惠</td>
                    <td>实收</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <table class="layui-table tabtwo">
            <caption align="top">退费记录</caption>
            <thead>
                <tr>
                    <td rowspan="2" style="width:120px;">日期</td>
                    <td colspan="4" style="width:100px;">类别</td>

                    <td rowspan="2" style="width:250px;">备注</td>
                </tr>
                <tr>
                    <td>学费</td>
                    <td>住宿费</td>
                    <td>文化费</td>
                    <td>退学</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <div class="form-button" id="wizard-actions" style=" text-align:center">
        <input type="button" value="确 定" id="save" class="layui-btn layui-btn-normal  layui-btn-lg cli" />
        <input type="button" value="取 消" id="cancel" class="layui-btn layui-btn-normal  layui-btn-lg " />
    </div>
}
<script>
    var index = parent.layer.getFrameIndex(window.name);
    $(function () {
        $(".body").height($(window).height() - 50)
        layui.use(['form', 'layer', 'laydate'], function () {
            var form = layui.form, layer = layui.layer, laydate = layui.laydate;
            GetTable($("#StudentId").val());
            $("#cancel").click(function () {
                parent.layer.close(index);
            })
            $("body").on("click", ".add", function () {
                var id = 'A88107CA-F816-44EC-AD05-0166A42B32EE';
                var len = $(".tabletu tbody").find("tr").length;
                if (len < 3) {
                    var html = '<tr>';
                    html += '<td><div class="layui-input-block" style="width:100%; margin-left:0px;">';
                    html += '<select name="trone"  lay-filter="trone' + len + '" class="formValue" lay-search>';
                    html += Getdata(id)
                    html += ' </select> </div>';
                    html += '</td>';
                    html += '<td><input type="text" name="F_ItemName" id="F_ItemName" class="layui-input formValue required" value="" lay-verify="required" value="" style="width:90%;" /></td>';
                    html += '<td><a href="javascript:;"><i class="fa  fa-plus-square-o fa-2x add"></i></a> <a href="javascript:;"><i class="fa  fa-minus-square-o fa-2x delete"></i></a></td>';
                    html += '</tr>';
                    $(".tabletu tbody").append(html);
                    form.render();
                }
            })
            $("body").on("click", ".delete", function () {
                var len = $(".tabletu tbody").find("tr").length;
                if (len > 1) {
                    $(this).parent().parent().parent().remove();
                }
            })
            $("#save").click(function () {
                var con = 0;
                var str = '';
                var postdata = {};
                var len = $(".tabletu tbody").find("tr").length;
                $(".tabletu tbody").find("tr").each(function (e) {
                    var td1 = $(this).children("td").eq(0).find("select").val();
                    var td2 = $(this).children("td").eq(1).find("input").val();
                    if (td1 == "" || td2 == "") {
                        con += 1;
                        return;
                    }
                    str += td1 + ',' + td2 + '|';
                })
                if (con > 0) {
                    layer.msg("请先完善信息");
                    return false;
                }
                postdata["str"] = str;
                postdata["Note"] = $("#Note").val();
                postdata["ID"] = $("#ID").val();
                postdata["StudentId"] = $("#StudentId").val();
                $.ajax({
                    url: '/Enter/SaveRuPay',
                    type: "post",
                    data: postdata,
                    beforeSend: function () {
                        $("#save").attr('disabled', 'disabled').val("保存中...");
                        i = ityzl_SHOW_LOAD_LAYER();
                    },
                    success: function (data) {
                        layer.close(i);
                        if (data.status == "ok") {
                            layer.msg("保存成功");
                            if (data.message == "") {
                                parent.layer.close(index);
                            }
                            else {
								window.parent.UpdateData();
                                parent.layer.close(index);
                            }

                        }
                        else {
                            layer.msg(data.message);
                            $("#save").removeAttr('disabled').val("确定");
                        }
                    },
                    error: function () {
                        $("#save").removeAttr('disabled').val("确定");
                        layer.msg('保存失败！');
                    }
                })
            })

        })
    })
    function ityzl_SHOW_LOAD_LAYER() {
        return layer.msg('正在加制中...', { icon: 16, shade: [0.5, '#f5f5f5'], scrollbar: false, time: 0 });
    }
    function GetTable(id) {
        var b = 0;
        $.ajax({
            url: '/Enter/GetSerach',
            type: "post",
            data: { id: id },
            beforeSend: function () {
                b = ityzl_SHOW_LOAD_LAYER();
            },
            success: function (data) {
                layer.close(b);
                if (data.getAStudentPay.length > 0) {
                    var html = '';
                    for (var i = 0; i < data.getAStudentPay.length; i++) {
                        html += '<tr class="clicktr">'
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].payDateString + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].paymentID + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].collectionID + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].xa + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].xb + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].xc + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].za + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].zb + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].zc + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].wa + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].wb + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].wc + '</td>';
                        html += '<td style="width:120px;">' + data.getAStudentPay[i].note + '</td>';
                        html += '</tr>';
                    }
                    $(".tabone tbody").append(html);
                }
                if (data.getARefundes.length > 0) {
                    var html = '';
                    for (var i = 0; i < data.getARefundes.length; i++) {
                        html += '<tr class="clicktr">'
                        html += '<td style="width:120px;">' + data.getARefundes[i].payDate + '</td>';
                        html += '<td style="width:120px;">' + data.getARefundes[i].xa + '</td>';
                        html += '<td style="width:120px;">' + data.getARefundes[i].za + '</td>';
                        html += '<td style="width:120px;">' + data.getARefundes[i].wa + '</td>';
                        html += '<td style="width:120px;">' + data.getARefundes[i].tx + '</td>';
                        html += '<td style="width:120px;">' + data.getARefundes[i].note + '</td>';
                        html += '</tr>';
                    }
                    $(".tabtwo tbody").append(html);
                }

            },
            error: function () {
                layer.msg('加制失败！');
            }
        })
    }

    function Getdata(id) {
        var data1 = ' <option value=""></option>';
        $.ajax({
            url: '/Home/GetSysItem',
            type: "post",
            data: { id: id },
            async: false,
            success: function (data) {
                if (data.length > 0) {

                    for (var i = 0; i < data.length; i++) {
                        data1 += '<option value="' + data[i].f_Encode + '">' + data[i].f_FullName + '</option>';
                    }
                }
            },
            error: function () {
                layer.msg('读取数据失败！');
            }
        });
        data1 += ' <option value="key9">退学</option>';
        // <option value="key5">预交</option>
        return data1;
    }
</script>
